@{
    ViewData["Title"] = "Análisis de Sentimientos";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="ML" asp-action="Predict" method="post">
    <div class="form-group">
        <label for="sentimiento">Escribe tu sentimiento:</label>
        <input type="text" class="form-control" id="sentimiento" name="sentimiento" />
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
@if (ViewData["Sentimiento"] != null)
{
    <h2>Resultado de la Predicción</h2>
    <p>Sentimiento Predicho: @ViewData["Sentimiento"]</p>
    <p>Sentimiento Score: @ViewData["Score"]</p>
}